{% extends 'base.html' %}

{% block content %}
  <h2>Upload Successful</h2>
  <p>Your file has been successfully uploaded and processed.</p>

  <h3>Select a Column to Display</h3>
  <form method="post" action="{% url 'uploaded' %}">
    {% csrf_token %}

    <input type="hidden" name="selected_column_name" value="{{ selected_column_name }}">

    <select name="column_name1">
      {% for column_name in column_names %}
        <option value="{{ column_name }}">{{ column_name }}</option>
      {% endfor %}
    </select>
    <select name="column_name2">
      {% for column_name in column_names %}
        <option value="{{ column_name }}">{{ column_name }}</option>
      {% endfor %}
    </select>
        
         
      <select  name="graph">
          <option value="1">Line Plot</option>
          <option value="2">Scatter Plot</option>
          <option value="3">Boxplot</option>
          <option value="4">Histogram</option>
          <option value="5">KDE Plot</option>
          <option value="6">Violin Plot</option>
          <option value="7">Bar Plot</option>
          <option value="8">Heatmap</option>
          <option value="9">Pie Chart</option>
      </select>
    
    
    
    <button type="submit">Display Graph</button>
  </form>
  <!-- {% if selected_column_name %}
    <h2>Graph for Column: {{ selected_column_name }}</h2>
    {% if graph_file_path %}
        <img src="{% load static %}{% static 'graphique.png' %}" alt="Graphique de la colonne sélectionnée">
    {% else %}
        <p>Aucun graphique disponible.</p>
    {% endif %}
  {% else %}
    <p>Aucune colonne sélectionnée.</p>
  {% endif %} -->
  {% if graph_image %}
    <img src="data:image/png;base64,{{ graph_image }}" alt="Graph for {{ selected_column_name }}">
{% else %}
    <p>Aucun graphique disponible.</p>
{% endif %}
{% endblock %}
