{% extends 'base.html' %}

{% block content %}
    <div class="flex justify-center items-center h-screen">
        <div class="w-full max-w-md">
            <h2 class="text-2xl font-semibold mb-6">Select a Column to Display</h2>
            <form method="post" action="{% url 'uploaded' %}" class="mb-6">
                {% csrf_token %}

                <div class="mb-4">
                    <label for="column_name1" class="block text-gray-700 text-sm font-bold mb-2">Select Column 1:</label>
                    <select name="column_name1" id="column_name1" class="w-full border border-gray-300 rounded py-2 px-3">
                        {% for column_name in column_names %}
                            <option value="{{ column_name }}">{{ column_name }}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="mb-4">
                    <label for="column_name2" class="block text-gray-700 text-sm font-bold mb-2">Select Column 2:</label>
                    <select name="column_name2" id="column_name2" class="w-full border border-gray-300 rounded py-2 px-3">
                        {% for column_name in numeric_columns %}
                            <option value="{{ column_name }}">{{ column_name }}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="mb-4">
                    <label for="graph" class="block text-gray-700 text-sm font-bold mb-2">Select Graph Type:</label>
                    <select name="graph" id="graph" class="w-full border border-gray-300 rounded py-2 px-3">
                        {% for graph_type_code, graph_type_display in graph_type_choices %}
                            <option value="{{ graph_type_code }}">{{ graph_type_display }}</option>
                        {% endfor %}
                    </select>
                </div>

                <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Display Graph</button>
            </form>
        </div>  

        <div class="flex justify-center items-center h-screen">
          {% if graph_html %}
              {{ graph_html | safe }}
          {% else %}
              <p class="mt-6">Aucun graphique disponible.</p>
          {% endif %}
        </div> 
        <div class="flex justify-center items-center h-screen">
          {% if statistics %}
              {{ statistics | safe }}
          {% endif %}
        </div>        
    </div>
{% endblock %}
