{% extends 'base.html' %}

{% block title %}DoConv{% endblock %}

{% block header %}Upload File{% endblock %}

{% block content %}
    <div class="flex justify-center items-center h-screen">
        <div class="w-full max-w-md">
            <h2 class="text-2xl font-semibold mb-6">Upload only CSV, Json, or Excel File</h2>
            {% if form.errors %}
                <div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative mb-6">
                    {% for error in form.errors %}
                        <p>{{ error.0 }}</p>
                    {% endfor %}
                </div>
            {% endif %}

            <form method="post" enctype="multipart/form-data" class="mb-6">
                {% csrf_token %}
                {{ form.as_p }}
                <br><br>
                <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Upload</button>
            </form>

            <script>
                document.addEventListener("DOMContentLoaded", function() {
                    document.getElementById("id_file").addEventListener("change", function() {
                        var fileName = this.value;
                        var ext = fileName.split('.').pop().toLowerCase();

                        if (['csv', 'json', 'xlsx'].indexOf(ext) === -1) {
                            alert("Unsupported file type. Please upload a CSV, JSON, or Excel file.");
                            this.value = "";  // Clear the file input
                        }
                    });
                });
            </script>
        </div>
    </div>
{% endblock %}
